.card{
    border: 5px solid #000000;
    width: 300px;
    height: 350px;
    border-radius: 16px;
    padding: 10px;
    background-color: rgb(152, 228, 196);
}
.img-card{
    width: 100%;
    border-radius: 16px;
    object-fit: contain;
}
button{
    background-color: blueviolet;
    color: #000000;
    padding: 1px;
    width: 150px;
    height: 35px;
    border: 1px solid;
    border-radius: 15px;
    margin: 10px;

}
.product{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    margin-top: 0;

}
.price{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
    margin: 5px;

}
span{
    text-decoration: line-through;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    margin: 10px;
}